@model TP033184FlightBookingSystem.Models.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flightname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flightname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orgin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orgin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flightID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
